In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

data = pd.read_csv("./movies_metadata.csv")

C:\Users\pc\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [34]:
data.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [35]:
genres = []
for list_ in data["genres"].apply(lambda x: eval(x)):
    genres.extend(list_) if len(list_) > 0 else genres.append(np.nan)
    
genres_unique = [set(tuple(x.items()) if type(x) == dict else None for x in genres)]

In [36]:
genre_byid = data["genres"].apply(lambda x: [*map(lambda y: y["name"], eval(x))] if len(eval(x)) > 0 else np.nan)

In [37]:
new_data = pd.DataFrame(columns=["original_title","overview","genres"])

In [38]:
for i in new_data.columns:
  new_data[i] = data[i].copy()

new_data["genres"] = genre_byid

In [39]:
new_data = new_data.dropna().reset_index(drop=True)

In [40]:
genres_unique

[{(('id', 10402), ('name', 'Music')),
  (('id', 10749), ('name', 'Romance')),
  (('id', 10751), ('name', 'Family')),
  (('id', 10752), ('name', 'War')),
  (('id', 10769), ('name', 'Foreign')),
  (('id', 10770), ('name', 'TV Movie')),
  (('id', 12), ('name', 'Adventure')),
  (('id', 14), ('name', 'Fantasy')),
  (('id', 16), ('name', 'Animation')),
  (('id', 18), ('name', 'Drama')),
  (('id', 27), ('name', 'Horror')),
  (('id', 28), ('name', 'Action')),
  (('id', 35), ('name', 'Comedy')),
  (('id', 36), ('name', 'History')),
  (('id', 37), ('name', 'Western')),
  (('id', 53), ('name', 'Thriller')),
  (('id', 80), ('name', 'Crime')),
  (('id', 878), ('name', 'Science Fiction')),
  (('id', 9648), ('name', 'Mystery')),
  (('id', 99), ('name', 'Documentary')),
  (('name', 'Aniplex'), ('id', 2883)),
  (('name', 'BROSTA TV'), ('id', 7760)),
  (('name', 'Carousel Productions'), ('id', 11176)),
  (('name', 'GoHands'), ('id', 7759)),
  (('name', 'Mardock Scramble Production Committee'), ('id', 7761)),
  (('name', 'Odyssey Media'), ('id', 17161)),
  (('name', 'Pulser Productions'), ('id', 18012)),
  (('name', 'Rogue State'), ('id', 18013)),
  (('name', 'Sentai Filmworks'), ('id', 33751)),
  (('name', 'Telescene Film Group Productions'), ('id', 29812)),
  (('name', 'The Cartel'), ('id', 23822)),
  (('name', 'Vision View Entertainment'), ('id', 11602)),
  None}]

In [41]:
all_genres = []
for i in new_data["genres"]:
  all_genres.extend(i)

In [42]:
exclude_list = []
for i in set(a):
  print("Genre: ",i, "\nCount: ",a.count(i))
  print("-"*15)
  if a.count(i) == 1:
    exclude_list.append(i)

exclude_list.extend(["TV Movie","Foreign", "Animation"])

Genre:  21504
Count:  1
---------------
Genre:  26113
Count:  1
---------------
Genre:  30722
Count:  1
---------------
Genre:  39426
Count:  1
---------------
Genre:  31748
Count:  1
---------------
Genre:  34823
Count:  1
---------------
Genre:  26121
Count:  1
---------------
Genre:  31243
Count:  1
---------------
Genre:  24588
Count:  1
---------------
Genre:  38924
Count:  1
---------------
Genre:  27662
Count:  1
---------------
Genre:  30222
Count:  1
---------------
Genre:  28178
Count:  1
---------------
Genre:  15379
Count:  1
---------------
Genre:  42016
Count:  1
---------------
Genre:  16417
Count:  1
---------------
Genre:  38946
Count:  1
---------------
Genre:  42018
Count:  1
---------------
Genre:  16420
Count:  1
---------------
Genre:  30757
Count:  1
---------------
Genre:  40485
Count:  1
---------------
Genre:  33831
Count:  1
---------------
Genre:  28714
Count:  1
---------------
Genre:  33834
Count:  1
---------------
Genre:  38961
Count:  1
---------------
Genre:  24626
Count:  1
---------------
Genre:  38962
Count:  1
---------------
Genre:  11830
Count:  1
---------------
Genre:  10296
Count:  1
---------------
Genre:  37945
Count:  1
---------------
Genre:  42049
Count:  1
---------------
Genre:  30277
Count:  1
---------------
Genre:  31303
Count:  1
---------------
Genre:  33353
Count:  1
---------------
Genre:  32330
Count:  1
---------------
Genre:  34378
Count:  1
---------------
Genre:  32332
Count:  1
---------------
Genre:  33868
Count:  1
---------------
Genre:  32334
Count:  1
---------------
Genre:  32335
Count:  1
---------------
Genre:  32336
Count:  1
---------------
Genre:  32337
Count:  1
---------------
Genre:  32338
Count:  1
---------------
Genre:  28243
Count:  1
---------------
Genre:  32339
Count:  1
---------------
Genre:  32340
Count:  1
---------------
Genre:  32341
Count:  1
---------------
Genre:  32342
Count:  1
---------------
Genre:  32343
Count:  1
---------------
Genre:  32344
Count:  1
---------------
Genre:  32345
Count:  1
---------------
Genre:  32346
Count:  1
---------------
Genre:  32348
Count:  1
---------------
Genre:  37467
Count:  1
---------------
Genre:  28254
Count:  1
---------------
Genre:  29279
Count:  1
---------------
Genre:  32863
Count:  1
---------------
Genre:  42073
Count:  1
---------------
Genre:  42076
Count:  1
---------------
Genre:  36451
Count:  1
---------------
Genre:  36453
Count:  1
---------------
Genre:  37989
Count:  1
---------------
Genre:  38505
Count:  1
---------------
Genre:  19051
Count:  1
---------------
Genre:  27755
Count:  1
---------------
Genre:  33901
Count:  1
---------------
Genre:  29813
Count:  1
---------------
Genre:  27766
Count:  1
---------------
Genre:  41078
Count:  1
---------------
Genre:  41079
Count:  1
---------------
Genre:  22139
Count:  1
---------------
Genre:  41595
Count:  1
---------------
Genre:  17025
Count:  1
---------------
Genre:  41089
Count:  1
---------------
Genre:  41607
Count:  1
---------------
Genre:  13962
Count:  1
---------------
Genre:  14477
Count:  1
---------------
Genre:  33938
Count:  1
---------------
Genre:  41620
Count:  1
---------------
Genre:  41622
Count:  1
---------------
Genre:  39579
Count:  1
---------------
Genre:  39068
Count:  1
---------------
Genre:  39580
Count:  1
---------------
Genre:  41632
Count:  1
---------------
Genre:  41633
Count:  1
---------------
Genre:  37545
Count:  1
---------------
Genre:  31404
Count:  1
---------------
Genre:  18608
Count:  1
---------------
Genre:  42163
Count:  1
---------------
Genre:  41660
Count:  1
---------------
Genre:  41662
Count:  1
---------------
Genre:  33985
Count:  1
---------------
Genre:  28354
Count:  1
---------------
Genre:  3779
Count:  1
---------------
Genre:  19139
Count:  1
---------------
Genre:  34497
Count:  1
---------------
Genre:  37058
Count:  1
---------------
Genre:  41670
Count:  1
---------------
Genre:  26826
Count:  1
---------------
Genre:  39628
Count:  1
---------------
Genre:  41169
Count:  1
---------------
Genre:  40149
Count:  1
---------------
Genre:  42200
Count:  1
---------------
Genre:  41692
Count:  1
---------------
Genre:  21217
Count:  1
---------------
Genre:  36065
Count:  1
---------------
Genre:  10467
Count:  1
---------------
Genre:  18659
Count:  1
---------------
Genre:  38630
Count:  1
---------------
Genre:  28903
Count:  1
---------------
Genre:  28905
Count:  1
---------------
Genre:  36589
Count:  1
---------------
Genre:  19182
Count:  1
---------------
Genre:  32497
Count:  1
---------------
Genre:  41203
Count:  1
---------------
Genre:  39673
Count:  1
---------------
Genre:  31483
Count:  1
---------------
Genre:  14076
Count:  1
---------------
Genre:  40702
Count:  1
---------------
Genre:  41727
Count:  1
---------------
Genre:  39683
Count:  1
---------------
Genre:  29959
Count:  1
---------------
Genre:  22280
Count:  1
---------------
Genre:  42249
Count:  1
---------------
Genre:  38158
Count:  1
---------------
Genre:  38159
Count:  1
---------------
Genre:  18704
Count:  1
---------------
Genre:  15124
Count:  1
---------------
Genre:  17684
Count:  1
---------------
Genre:  42260
Count:  1
---------------
Genre:  42261
Count:  1
---------------
Genre:  35609
Count:  1
---------------
Genre:  39711
Count:  1
---------------
Genre:  20769
Count:  1
---------------
Genre:  35618
Count:  1
---------------
Genre:  2851
Count:  1
---------------
Genre:  35619
Count:  1
---------------
Genre:  41770
Count:  1
---------------
Genre:  28973
Count:  1
---------------
Genre:  24878
Count:  1
---------------
Genre:  303
Count:  1
---------------
Genre:  16688
Count:  1
---------------
Genre:  29998
Count:  1
---------------
Genre:  26419
Count:  1
---------------
Genre:  18741
Count:  1
---------------
Genre:  26423
Count:  1
---------------
Genre:  29495
Count:  1
---------------
Genre:  26425
Count:  1
---------------
Genre:  28986
Count:  1
---------------
Genre:  27964
Count:  1
---------------
Genre:  29501
Count:  1
---------------
Genre:  1857
Count:  1
---------------
Genre:  16193
Count:  1
---------------
Genre:  37698
Count:  1
---------------
Genre:  26436
Count:  1
---------------
Genre:  29511
Count:  1
---------------
Genre:  26440
Count:  1
---------------
Genre:  37705
Count:  1
---------------
Genre:  26442
Count:  1
---------------
Genre:  29514
Count:  1
---------------
Genre:  38731
Count:  1
---------------
Genre:  41805
Count:  1
---------------
Genre:  7502
Count:  1
---------------
Genre:  17742
Count:  1
---------------
Genre:  24911
Count:  1
---------------
Genre:  26447
Count:  1
---------------
Genre:  34638
Count:  1
---------------
Genre:  34131
Count:  1
---------------
Genre:  29524
Count:  1
---------------
Genre:  33620
Count:  1
---------------
Genre:  26454
Count:  1
---------------
Genre:  40280
Count:  1
---------------
Genre:  21856
Count:  1
---------------
Genre:  32611
Count:  1
---------------
Genre:  32612
Count:  1
---------------
Genre:  31077
Count:  1
---------------
Genre:  34150
Count:  1
---------------
Genre:  26472
Count:  1
---------------
Genre:  40810
Count:  1
---------------
Genre:  26475
Count:  1
---------------
Genre:  34668
Count:  1
---------------
Genre:  26477
Count:  1
---------------
Genre:  35180
Count:  1
---------------
Genre:  14191
Count:  1
---------------
Genre:  15727
Count:  1
---------------
Genre:  14193
Count:  1
---------------
Genre:  16240
Count:  1
---------------
Genre:  20848
Count:  1
---------------
Genre:  26479
Count:  1
---------------
Genre:  26485
Count:  1
---------------
Genre:  26486
Count:  1
---------------
Genre:  14199
Count:  1
---------------
Genre:  40309
Count:  1
---------------
Genre:  35193
Count:  1
---------------
Genre:  19834
Count:  1
---------------
Genre:  13178
Count:  1
---------------
Genre:  29564
Count:  1
---------------
Genre:  38267
Count:  1
---------------
Genre:  40828
Count:  1
---------------
Genre:  20863
Count:  1
---------------
Genre:  24448
Count:  1
---------------
Genre:  21889
Count:  1
---------------
Genre:  24449
Count:  1
---------------
Genre:  27010
Count:  1
---------------
Genre:  41853
Count:  1
---------------
Genre:  1926
Count:  1
---------------
Genre:  24455
Count:  1
---------------
Genre:  33670
Count:  1
---------------
Genre:  5001
Count:  1
---------------
Genre:  36743
Count:  1
---------------
Genre:  33172
Count:  1
---------------
Genre:  37783
Count:  1
---------------
Genre:  15768
Count:  1
---------------
Genre:  19864
Count:  1
---------------
Genre:  17818
Count:  1
---------------
Genre:  28058
Count:  1
---------------
Genre:  35327
Count:  1
---------------
Genre:  39499
Count:  1
---------------
Genre:  39836
Count:  1
---------------
Genre:  34722
Count:  1
---------------
Genre:  41379
Count:  1
---------------
Genre:  41385
Count:  1
---------------
Genre:  40364
Count:  1
---------------
Genre:  32174
Count:  1
---------------
Genre:  35758
Count:  1
---------------
Genre:  39500
Count:  1
---------------
Genre:  33203
Count:  1
---------------
Genre:  18869
Count:  1
---------------
Genre:  19382
Count:  1
---------------
Genre:  23479
Count:  1
---------------
Genre:  26554
Count:  1
---------------
Genre:  38844
Count:  1
---------------
Genre:  40381
Count:  1
---------------
Genre:  33218
Count:  1
---------------
Genre:  33219
Count:  1
---------------
Genre:  36804
Count:  1
---------------
Genre:  36805
Count:  1
---------------
Genre:  15814
Count:  1
---------------
Genre:  35782
Count:  1
---------------
Genre:  40395
Count:  1
---------------
Genre:  39884
Count:  1
---------------
Genre:  23502
Count:  1
---------------
Genre:  37838
Count:  1
---------------
Genre:  39376
Count:  1
---------------
Genre:  30678
Count:  1
---------------
Genre:  30679
Count:  1
---------------
Genre:  29148
Count:  1
---------------
Genre:  33244
Count:  1
---------------
Genre:  38878
Count:  1
---------------
Genre:  24543
Count:  1
---------------
Genre:  24544
Count:  1
---------------
Genre:  26594
Count:  1
---------------
Genre:  41955
Count:  1
---------------
Genre:  37860
Count:  1
---------------
Genre:  24550
Count:  1
---------------
Genre:  24552
Count:  1
---------------
Genre:  38890
Count:  1
---------------
Genre:  40430
Count:  1
---------------
Genre:  38384
Count:  1
---------------
Genre:  32241
Count:  1
---------------
Genre:  40437
Count:  1
---------------
Genre:  37878
Count:  1
---------------
Genre:  19447
Count:  1
---------------
Genre:  39414
Count:  1
---------------
Genre:  31230
Count:  1
---------------
Genre:  25599
Count:  1
---------------

In [43]:
genres_excluded = []
for i in new_data["genres"]:
  genres_excluded.append(list(set(i) - set(exclude_list)))

In [44]:
new_data["genres"] = genres_excluded

In [45]:
new_data["genres"].head(10)

0                      [Comedy, Family]
1          [Family, Fantasy, Adventure]
2                     [Comedy, Romance]
3              [Comedy, Romance, Drama]
4                              [Comedy]
5      [Thriller, Crime, Action, Drama]
6                     [Comedy, Romance]
7    [Family, Adventure, Drama, Action]
8         [Thriller, Action, Adventure]
9         [Thriller, Action, Adventure]
Name: genres, dtype: object

In [46]:
exclude_list

[21504,
 26113,
 30722,
 39426,
 31748,
 34823,
 26121,
 31243,
 24588,
 38924,
 27662,
 30222,
 28178,
 15379,
 42016,
 16417,
 38946,
 42018,
 16420,
 30757,
 40485,
 33831,
 28714,
 33834,
 38961,
 24626,
 38962,
 11830,
 10296,
 37945,
 42049,
 30277,
 31303,
 33353,
 32330,
 34378,
 32332,
 33868,
 32334,
 32335,
 32336,
 32337,
 32338,
 28243,
 32339,
 32340,
 32341,
 32342,
 32343,
 32344,
 32345,
 32346,
 32348,
 37467,
 28254,
 29279,
 32863,
 42073,
 42076,
 36451,
 36453,
 37989,
 38505,
 19051,
 27755,
 33901,
 29813,
 27766,
 41078,
 41079,
 22139,
 41595,
 17025,
 41089,
 41607,
 13962,
 14477,
 33938,
 41620,
 41622,
 39579,
 39068,
 39580,
 41632,
 41633,
 37545,
 31404,
 18608,
 42163,
 41660,
 41662,
 33985,
 28354,
 3779,
 19139,
 34497,
 37058,
 41670,
 26826,
 39628,
 41169,
 40149,
 42200,
 41692,
 21217,
 36065,
 10467,
 18659,
 38630,
 28903,
 28905,
 36589,
 19182,
 32497,
 41203,
 39673,
 31483,
 14076,
 40702,
 41727,
 39683,
 29959,
 22280,
 42249,
 38158,
 38159,
 18704,
 15124,
 17684,
 42260,
 42261,
 35609,
 39711,
 20769,
 35618,
 2851,
 35619,
 41770,
 28973,
 24878,
 303,
 16688,
 29998,
 26419,
 18741,
 26423,
 29495,
 26425,
 28986,
 27964,
 29501,
 1857,
 16193,
 37698,
 26436,
 29511,
 26440,
 37705,
 26442,
 29514,
 38731,
 41805,
 7502,
 17742,
 24911,
 26447,
 34638,
 34131,
 29524,
 33620,
 26454,
 40280,
 21856,
 32611,
 32612,
 31077,
 34150,
 26472,
 40810,
 26475,
 34668,
 26477,
 35180,
 14191,
 15727,
 14193,
 16240,
 20848,
 26479,
 26485,
 26486,
 14199,
 40309,
 35193,
 19834,
 13178,
 29564,
 38267,
 40828,
 20863,
 24448,
 21889,
 24449,
 27010,
 41853,
 1926,
 24455,
 33670,
 5001,
 36743,
 33172,
 37783,
 15768,
 19864,
 17818,
 28058,
 35327,
 39499,
 39836,
 34722,
 41379,
 41385,
 40364,
 32174,
 35758,
 39500,
 33203,
 18869,
 19382,
 23479,
 26554,
 38844,
 40381,
 33218,
 33219,
 36804,
 36805,
 15814,
 35782,
 40395,
 39884,
 23502,
 37838,
 39376,
 30678,
 30679,
 29148,
 33244,
 38878,
 24543,
 24544,
 26594,
 41955,
 37860,
 24550,
 24552,
 38890,
 40430,
 38384,
 32241,
 40437,
 37878,
 19447,
 39414,
 31230,
 25599,
 'TV Movie',
 'Foreign',
 'Animation']

In [47]:
temp = []
for e,i in enumerate(new_data["genres"]):
    if len(i) == 0:
        temp.append(e)

In [48]:
new_data = new_data.drop(temp).reset_index(drop = True)

In [49]:
new_data

,original_title,overview,genres
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Comedy, Family]"
1,Jumanji,When siblings Judy and Peter discover an encha...,"[Family, Fantasy, Adventure]"
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Comedy, Romance]"
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Romance, Drama]"
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy]
...,...,...,...
42059,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,[Science Fiction]
42060,Robin Hood,"Yet another version of the classic epic, with ...","[Romance, Drama, Action]"
42061,Ø±Ú¯ Ø®ÙˆØ§Ø¨,Rising and falling between a man and woman.,"[Family, Drama]"
42062,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,[Drama]
42063,Betrayal,"When one of her hits goes wrong, a professiona...","[Thriller, Action, Drama]"

In [51]:
import nltk
nltk.download('punkt')

from nltk.tokenize import sent_tokenize, word_tokenize

ov_token = new_data["overview"].apply(word_tokenize)

from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')
ov_token_reg = new_data["overview"].apply(tokenizer.tokenize)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [52]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopWords = list(set(stopwords.words('english')))

stopWords.extend(["s","movie","movies","Movies","Movie","film","Film","films","Films","meet","Mr","Ms","Mrs"])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [53]:
ov_token_sw = []
for word_list in ov_token_reg:
    ov_token_sw.append([word for word in word_list if word not in stopWords])

In [54]:
pd.Series(ov_token_sw)

0        [Led, Woody, Andy, toys, live, happily, room, ...
1        [When, siblings, Judy, Peter, discover, enchan...
2        [A, family, wedding, reignites, ancient, feud,...
3        [Cheated, mistreated, stepped, women, holding,...
4        [Just, George, Banks, recovered, daughter, wed...
                               ...
42059    [It, year, 3000, AD, The, world, dangerous, wo...
42060    [Yet, another, version, classic, epic, enough,...
42061                        [Rising, falling, man, woman]
42062    [An, artist, struggles, finish, work, storylin...
42063    [When, one, hits, goes, wrong, professional, a...
Length: 42064, dtype: object

In [55]:
# Stemming (last)

import nltk
stemmer = nltk.stem.porter.PorterStemmer()

train_X_raw = []

for i in ov_token_sw:
    train_X_raw.append([stemmer.stem(words) for words in i])

In [56]:
pd.Series(train_X_raw)

0        [led, woodi, andi, toy, live, happili, room, a...
1        [when, sibl, judi, peter, discov, enchant, boa...
2        [A, famili, wed, reignit, ancient, feud, next,...
3        [cheat, mistreat, step, women, hold, breath, w...
4        [just, georg, bank, recov, daughter, wed, rece...
                               ...
42059    [It, year, 3000, AD, the, world, danger, women...
42060    [yet, anoth, version, classic, epic, enough, v...
42061                             [rise, fall, man, woman]
42062    [An, artist, struggl, finish, work, storylin, ...
42063    [when, one, hit, goe, wrong, profession, assas...
Length: 42064, dtype: object

In [57]:
new_data.head()

,original_title,overview,genres
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Comedy, Family]"
1,Jumanji,When siblings Judy and Peter discover an encha...,"[Family, Fantasy, Adventure]"
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Comedy, Romance]"
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Romance, Drama]"
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy]

In [58]:
import re

row_drop = []
for e,i in enumerate(new_data["overview"]):
    new_data["overview"][e] = re.sub('(https?://)[^ ]+','', i)
    new_data["overview"][e] = re.sub('[^ ]+(www.)+[^ ]+','', i)
    new_data["overview"][e] = re.sub('hancinema.net[^ ]+','', i)
    if "No overview" in i or "No Overview" in i or "no overview" in i:
        row_drop.append(e)
        
new_data.drop(row_drop)

,original_title,overview,genres
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Comedy, Family]"
1,Jumanji,When siblings Judy and Peter discover an encha...,"[Family, Fantasy, Adventure]"
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Comedy, Romance]"
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Romance, Drama]"
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy]
...,...,...,...
42059,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,[Science Fiction]
42060,Robin Hood,"Yet another version of the classic epic, with ...","[Romance, Drama, Action]"
42061,Ø±Ú¯ Ø®ÙˆØ§Ø¨,Rising and falling between a man and woman.,"[Family, Drama]"
42062,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,[Drama]
42063,Betrayal,"When one of her hits goes wrong, a professiona...","[Thriller, Action, Drama]"